.credential-container body {
    font-family: 'Georgia', serif;
    background: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.credential-container .diploma {
    padding: 40px 70px 10px 70px;
    margin: 40px;
    height: fit-content;
    min-width: 340px;
    max-width: 470px;
    max-height: 500px;
    position: relative;
    background-image: url('fancyromanbookframe.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.credential-container .diploma.certificate {
    background-color: rgba(135, 206, 235, 0.5);
    border: 2px solid #2343cfaf;
    box-shadow: 0 0 50px rgba(93, 223, 240, 0.2);

}

.credential-container .diploma.degree {
    background-color: rgba(144, 238, 144, 0.5);
    border: 2px solid #2e8b57af;
    box-shadow: 0 0 50px rgba(93, 240, 167, 0.2);
}

.credential-container .diploma.achievement {
    background-color: rgba(255, 182, 193, 0.5);
    border: 2px solid #ff69b4af;
    box-shadow: 0 0 50px rgba(240, 93, 93, 0.2);
}

.credential-container .header, .credential-container .footer {
    text-align: center;
}

.credential-container .header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: normal;
}

.credential-container .rank {
    font-size: 20px;
    margin-top: 10px;
}

.credential-container .info {
    min-height: 220px;
    margin-top: 20px;
    padding-top: 10px;
}

.credential-container .info.certificate {
    border-top: 2px solid #2343cfaf;
}

.credential-container .info.degree {
    border-top: 2px solid #0c572caf;
}

.credential-container .info.achievement {
    border-top: 2px solid #ff69b4af;
}

.credential-container .info p {
    font-size: 16px;
    line-height: 1.6;
    max-width: 350px;
}

.credential-container .info .credential-url {
    word-break: break-all;
    font-style: italic;
}

.credential-container .dates {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.credential-container .footer {
    margin-top: -10px;
}

.credential-container .type {
    font-size: 18px;
    font-style: italic;
    color: #c5cbee;
}

.credential-container .rank {
    font-size: 24px;
}

.credential-container .rank.bronze::before {
    font-family: "FontAwesome";
    content: '\f559';
    color: #cd7f32;
}

.credential-container .rank.silver::before {
    font-family: "FontAwesome";
    content: "\f091";
    color: #c0c0c0;
}

.credential-container .rank.gold::before {
    font-family: "FontAwesome";
    content: "\f5a2";
    color: #ffd700;
}

.credential-container .rank.platinum::before {
    font-family: "FontAwesome";
    content: "\f521";
    color: #e5e4e2;
}

.credential-container .rank.diamond::before {
    font-family: "FontAwesome";
    content: "\f3a5"; 
    color: #b9f2ff;
}

.credential-container .rank::before {
    margin-right: 10px; 
}