body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #161616;
}

a {
  text-decoration: none;
}

.center-content-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}

.show {
  display: flex !important;
}

.page {
  flex-direction: column;
  color: white;
  height: calc(100vh - 25px);
  padding-top: 25px;
}

.role-form {
  flex-direction: column;
  padding: 25px;
  border-radius: 15px;
  border: 1px dashed white;
  text-align: center;
}

.general-form {
  animation: moveShadow 2s infinite linear;
}

@keyframes moveShadow {
  0% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
  50% {
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
}

.role-options {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  width: 100%;
}

.role {
  font-size: 1.2rem;
  color: #aaa;
  padding: 15px 0;
  margin: 8px 0;
  border: 1px solid #aaa;
  border-radius: 50px;
}

.role:hover {
  background-color: #333;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  color: white;
}

#home {
  color: white;
  margin-right: 25px;
}

.title {
  display: inline-flex;
  align-items: center;
}

.navigation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 25px;
}

.navigation-buttons {
  margin-left: 15%;
}

.btn {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border-radius: 50px;
  border: 1px solid #aaa;
}

.btn:hover {
  background-color: #555;
  cursor: pointer;
}

.navigation-btn:not(:first-child) {
  margin-left: 15px;
}

.nav-btn-active {
  background-color: #555;
}

.content {
  margin-top: 3%;
}

.transfer-credential-form {
  flex-direction: column;
  padding: 25px;
  border-radius: 15px;
  min-width: 50%;
  border: 1px dashed white;
}

.transfer-credential-form > label {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 1.2rem;
  margin-top: 15px;
  width: 75%;
}

.select-form {
  padding: 10px;
  font-size: 1.1rem;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #aaa;
  background-color: #333;
  color: white;
  min-width: 60%;
}

.create-credential-form {
  display: none;
  flex-direction: column;
  width: 50%;
  padding: 25px;
  border-radius: 15px;
  border: 1px dashed white;
}

.create-credential-form > label {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 1.2rem;
  margin-top: 15px;
  width: 75%;
}

.create-credential-form > label > input {
  padding: 10px;
  font-size: 1.1rem;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #aaa;
  background-color: #333;
  color: white;
}

.create-credential-form > label > input:not([type="radio"]):focus {
  outline: none;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.create-credential-form > label > input::placeholder {
  color: #aaa;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
  cursor: pointer;
}

.form-submit-btn {
  margin-top: 25px;
  width: 40%;
}

.credential-types {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.credential-type {
  display: flex;
  justify-content: center;
  align-items: center;
}

.credential-type > input {
  margin: 0;
  accent-color: black;
}

.credential-type > label {
  padding-left: 10px;
}

.credential {
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #aaa;
}

.credential:last-child {
  border-bottom: none;
}

.credential:hover {
  background-color: #333;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.selected {
  background-color: #333;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

#credentials {
  margin-bottom: 20px;
}

.credentials-container {
  display: none;
  padding-top: 10px;
  justify-content: center;
  overflow-y: auto;
}

.see-credentials {
  flex-direction: column;
  min-width: 30%;
  padding: 30px 0;
  border: 1px dashed white;
  border-radius: 15px;
}

#credential-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 10%;
}

#credential-details > div {
  margin-top: 10px;
  font-size: 1.12rem;
}

.employee-container {
  display: none;
  width: 50%;
}

.status {
  margin-top: 10px;
}

.rank-btn {
  margin-top: 25px;
  width: 40%;
}
